$primary-color: #a2764f;
$header-height: 130px;

@import 'vendors/slick.min.css';
@import 'vendors/flexboxgrid';
@import 'vendors/wpblock';

@font-face {
  font-family: 'AktivGrotesk';
  src: url('../../../static/fonts/AktivGrotesk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('../../../static/fonts/MaisonNeue-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('../../../static/fonts/MaisonNeue-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

p {
  margin-bottom: 30px;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background: #efefef;
  color: #434343;
  font: 500 18px/1.44 'Maison Neue', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include breakpoint('small') {
    font-size: 20px;
    line-height: 1.5;
  }
}

.slick-list {
  transition: height 0.3s;
}

.slick-slider,
.control_wrapper {
  .slide {
    outline: none !important;
  }

  .slick-arrow {
    width: 48px;
    height: 48px;
    border: 1px solid #312f30;
    background: transparent;
    border-radius: 0;
    z-index: 5;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s;
    padding: 0;

    .text {
      display: none;
    }
  }



  .slick-arrow {

    &:hover {
      border-color: $primary-color;
      color: $primary-color;
    }

    &:focus {
      outline: none !important;
    }
  }
}

#wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'AktivGrotesk';
  font-size: 700;
  color: #312f30;
  margin: 0 0 30px;
  line-height: 1.1;
}

h2 {
  font-size: 30px;
  line-height: 1.75;

  @include breakpoint('small') {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
}

a {
  color: $primary-color;
  transition: color 0.3s;
  text-decoration: none;
}

p {
  a {
    text-decoration: underline;
  }
}

.text-center {
  text-align: center;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"],
input.form_control,
textarea.form_control,
textarea,
select {
  width: 100%;
  border: 1px solid #312f30;
  border-radius: 0;
  height: 54px;
  background-color: transparent;
  padding: 5px 30px;
  color: #9c9c9c;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  outline: none !important;
  transition: border 0.3s;

  &:focus {
    border-color: $primary-color;
  }
}

textarea.form_control,
textarea {
  min-height: 167px !important;
  height: 167px;
  width: 100% !important;
  padding-top: 17px;
  padding-bottom: 17px;
}

label {
  letter-spacing: 1px;
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #312f30;
  text-transform: uppercase;
  margin-bottom: 11px;
}

.bg__image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: -1;
  overflow: hidden;

  &.has-overlay {
    position: absolute;

    &:before {
      z-index: 99999;
    }
  }

  >div {
    height: 100%;
    width: 100%;
  }
}

.has-overlay {
  position: relative;
  
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(#1e1d1c, 0.6);
  }
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.button {
  display: inline-block;
  vertical-align: middle;
  background: #312f30;
  color: $primary-color; 
  text-decoration: none;
  border: 1px solid #312f30;
  border-radius: 0;
  outline: none;
  padding: 13px 30px;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.1em;
  cursor: pointer;

  @include breakpoint('small') {
    font-size: 16px;
  }

  &:hover {
    color: #fff;
  }

  &.primary {
    background: $primary-color;
    border-color: $primary-color;
    color: #fff;
  }

  &.whiteoutline {
    border-color: #fff;
    color: #fff;
    background: transparent;
  }
}

.header {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  z-index: 6;

  @include breakpoint('small') {
    height: $header-height;
    position: absolute;
  }
}

.header__top {
  height: 0;

  @include breakpoint('small') {
    height: auto;
    background: #312f30;
    display: block;
  }
}

ul.headertop__nav {
  text-align: right;
  position: fixed;
  font-size: 16px;
  font-weight: 700;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;

  @include breakpoint('small') {
    text-align: right;
    position: static;
    font-size: 14px;
    line-height: 1.4;
    font-weight: normal;
    visibility: visible;
    opacity: 1;
  }

  li {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 0.1em;
    padding: 0 16px;

    @include breakpoint('small') {
      padding: 0 0 0 25px;
      margin-left: 20px;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      height: 12px;
      top: 50%;
      width: 1px;
      background: #3c3c3c;
      transform: translateY(-50%);

      @include breakpoint('small') {
        background: #3c3b3b;
        height: 12px;
      }
    }

    &:first-child {
      &:before {
        display: none;
      }
    }
  }

  a {
    color: $primary-color;
    text-decoration: none;
    display: block;
    padding: 10px 0;

    @include breakpoint('small') {
      color: #bebebe;
    }

    &:hover {
      color: $primary-color;

      @include breakpoint('small') {
        color: #fff;
      }
    }
  }
}

.header__bottom {
  background: #fff;
  position: relative;
  padding: 15px 0;

  .dark & {
    background: #efefef;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background: #312f30;
    }
  }

  @include breakpoint('small') {
    padding: 0;
  }
}

.header__bottomwrap {
  @include breakpoint('small') {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.header__logo {
  width: 150px;
  float: left;
  margin-left: -10px;

  @include breakpoint('small') {
    margin: 4px 0 0;
    float: none;
    width: 257px;
  }
}

.header__nav {
  padding: 0 30px;
}

.header__meta {
  float: right;
  margin-right: 25px;

  @include breakpoint('small') {
    float: none;
    margin-right: 0;
  }
}

.menu__wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 0;
  background: #312f30;
  overflow: hidden;
  transition: height 0.3s;

  @include breakpoint('small') {
    position: static;
    overflow: initial;
    height: auto;
    background: transparent;
  }
}

ul.main__nav {
  font-size: 16px;
  padding: 90px 0 160px;

  @include breakpoint('small') {
    padding: 0;
    display: block;
  }

  >li {
    display: block;
    position: relative;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.06em;
    padding: 0 0 10px;

    @include breakpoint('small') {
      display: inline-block;
      text-transform: uppercase;
      margin: 0 34px;
      padding: 0;
      font-size: 16px;
      font-weight: normal;
    }

    &.active {
      .dropdown {
        max-height: 500px;
        opacity: 1;
        visibility: visible;
      }

      .drop__control {
        .icon {
          transform: rotate(-180deg);
        }
      }
    }

    .icon {
      width: 16px;
      height: 16px;
      display: block;
      transition: color 0.3s;
      color: $primary-color;
      transition: transform 0.3s, color 0.3s;

      @include breakpoint('small') {
        width: 10px;
        height: 10px;
        color: #121212;
      }
    }

    &:hover {
      .dropdown {
        opacity: 1;
        visibility: visible;
        top: 100%;
      }
    }
  }

  >li>a,
  .menu__linkwrap a {
    color: #fff;
    display: block;
    padding: 10px 25px;

    @include breakpoint('small') {
      padding: 34px 0;
      color: #121212;
    }

    &:hover {
      color: $primary-color;
    }
  }

  .dropdown {
    overflow: hidden;
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 0.3s;
    font-size: 16px;
    font-weight: normal;

    @include breakpoint('small') {
      max-height: none;
      font-size: 95%;
      position: absolute;
      background: #fff;
      z-index: 5;
      width: 220px;
      left: -20px;
      top: 110%;
      box-shadow: 2px 5px 3px rgba(97,97,97,0.4);
      border-top: 1px solid #121212;
      color: #312f30;
    }

    .row {
      padding: 10px 0 0;

      @include breakpoint('small') {
        padding: 0;
      }
    }

    [class^="col-"],
    [class*=" col-"] {
      @include breakpoint('small') {
        position: relative;
      }

      &:before {
        @include breakpoint('small') {
          content: '';
          position: absolute;
          left: 0;
          top: 32%;
          bottom: 30%;
          width: 2px;
          background: $primary-color;
        }
      }

      &:first-child:before {
        display: none;
      }
    }

    ul {
      padding: 5px 0 0 25px;

      @include breakpoint('small') {
        padding: 0;
      }
    }

    li {
      display: block;
      margin: 0;
    }

    a {
      display: block;
      color: #fff;
      padding: 12px 20px;
      transition: background 0.3s, color 0.3s;

      @include breakpoint('small') {
        color: #312f30; 
      }

      &:hover {
        background: $primary-color;
        color: #fff;
      }
    }

    .menuTitle {
      color: #fff;
      font-size: 16px;
      text-transform: none;

      @include breakpoint('small') {
        font-weight: 700;
        font-size: 30px;
        font-weight: 700;
        color: #312f30;
      }
    }
  }

  .menu__linkwrap {
    position: relative;

    &:hover {
      .icon {
        color: $primary-color;
      }
    }
  }

  .drop__control {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 65px;
    width: 51px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @include breakpoint('small') {
      right: -16px;
      width: auto;
      top: 50%;
      bottom: auto;
      margin-top: -7px;
    }
  }

  .megamenu {
    position: static;

    @include breakpoint('small') {
      position: static;
    }

    .dropdown {
      left: 0;
      right: 0;
      width: auto;
    }
  }

  .menubox {
    font-size: 16px;
    position: relative;

    @include breakpoint('small') {
      max-width: 370px;
      margin: 0 auto;
      padding: 72px 0 105px;
      text-transform: none;
      font-size: 18px;
    }
  
    a {
      padding: 0;
      color: #fff;
      display: block;
      padding: 12px 20px;

      @include breakpoint('small') {
        color: #434343;
      }

      &:hover {
        background: transparent;
        color: #434343;
      }
    }

    p {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-bottom: 5px;
      display: none;

      @include breakpoint('small') {
        display: block;
        margin-bottom: 30px;
      }
    }

    .imagebox {
      display: none;

      @include breakpoint('small') {
        display: block;
        margin-bottom: 26px;
      }
    }

    .more {
      display: none;

      @include breakpoint('small') {
        display: block;
      }

      span {
        font-size: 15px;
        display: inline-block;
        font-weight: 700;
        border-bottom: 2px solid #312f30;

        @include breakpoint('small') {
          font-size: 20px;
        }
      }
    }
  }
}

.nav__active {
  overflow: hidden;

  .menu__wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    @include breakpoint('small') {
      height: auto;
      overflow: initial;
    }
  }

  .header__button,
  ul.headertop__nav {
    opacity: 1;
    visibility: visible;
  }

  .nav__hamburger {
    z-index: 999;

    span {
      opacity: 0;
    }

    &:before,
    &:after {
      background: #fff;
      transform: rotate(45deg);
      top: 50%;
      bottom: auto;
      margin-top: -2px;
    }

    &:before {
      transform: rotate(-45deg);
    }
  }
}

.header__phone,
.header__button {
  display: inline-block;
  vertical-align: middle;
}

.header__button {
  position: fixed;
  left: 50%;
  bottom: 90px;
  transform: translateX(-50%);
  z-index: 99;
  margin: 0;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;

  @include breakpoint('small') {
    position: static;
    left: 0;
    transform: none;
    margin: 0 0 0 26px;
    display: inline-block;
    opacity: 1;
    visibility: visible;
  }

  .button {
    @media only screen and (max-width: 767px) {
      background: $primary-color;
      color: #fff;
    }
  }
}

.header__phone {
  margin-top: -2px;

  @include breakpoint('small') {
    letter-spacing: 0.06em;
    font-weight: 700;
  }

  a {
    font-size: 16px;
    color: #121212;

    @include breakpoint('small') {
      font-size: 18px;
    }

    &:hover {
      color: $primary-color;
    }
  }

  .icon {
    color: $primary-color;
    width: 18px;
  }
}

.banner {
  position: relative;
  color: #fff;

  @include breakpoint('small') {
    margin: 0 0 54px;
  }

  .mobile__button {
    @include breakpoint('small') {
      display: none;
    }
  }

  .slide {
    position: relative;
    height: 550px;
    overflow: hidden;

    @include breakpoint('small') {
      min-height: 600px;
      min-height: 75vh;
      height: 839px;
    }
  }

  h1 {
    font-size: 35px;
    line-height: 1.06;
    position: relative;
    margin: 0;
    color: #fff;
    letter-spacing: -1px;
    padding-bottom: 20px;

    @include breakpoint('small') {
      font-size: 90px;
      letter-spacing: -2px;
      padding-bottom: 42px;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: -9999px;
      right: -9999px;
      height: 2px;
      background: $primary-color;
    }
  }
}

.bannerCounter {
  position: absolute;
  font-size: 15px;
  font-weight: 700;
  left: 25px;
  bottom: 34px;

  @include breakpoint('small') {
    left: auto;
    right: -224px;
    bottom: 22px;
  }

  .bar {
    margin: 0 10px;

    @include breakpoint('small') {
      margin: 0 14px;
    }
  }

  .activeNum {
    color: $primary-color;
  }
}

.banner__slider {
  .container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .slick-arrow {
    position: absolute;
    border-color: #949494;
    color: #949494;
    height: 41px;
    width: 41px;
    right: 25px;
    bottom: 35px;

    @include breakpoint('small') {
      right: 69px;
      bottom: 97px;
    }

    &.slick-prev {
      right: 79px;

      @include breakpoint('small') {
        right: 124px;
      }
    }
  }
}

.banner__text {
  width: 100%;

  @include breakpoint('small') {
    padding: 0 240px 0 0;
    margin-bottom: -18px;
  }
}

.bottomtext__top {
  width: 100%;

  @include breakpoint('small') {
    position: relative;
  }
}

.bottomtext__bottom {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 700;
  padding: 15px 0 35px;

  @include breakpoint('small') {
    font-size: 25px;
    float: right;
    padding: 28px 0 0;
  }
}

.generaltext {
  padding: 40px 0 20px;

  @include breakpoint('small') {
    padding: 100px 0 50px;
  }

  &.range {
    @include breakpoint('small') {
      padding: 63px 0 75px;
    }

    .textBox {
      padding-left: 0;
      max-width: 610px;
    }

    h3 {
      @include breakpoint('small') {
        margin: 0;
      }
    }

    .image__wrap {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: -167px;
        top: 0;
        bottom: 0;
        width: 2px;
        background: $primary-color;
      }
    }
  }

  &.pricing {
    @include breakpoint('small') {
      padding-bottom: 108px;
    }

    .image__wrap {
      max-width: 768px;
      margin-top: 24px;
    }
  }

  .textBox {
    @include breakpoint('small') {
      padding-left: 51px;
    }
  }

  &.decking {
    @include breakpoint('small') {
      padding-bottom: 97px;
    }

    .image__wrap {
      @include breakpoint('small') {
        padding-left: 37px;
        position: relative;
        z-index: 99;
      }
    }
    
    .textBox {
      @include breakpoint('small') {
        padding: 0 0 28px;
      }
    }

    h2 {
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 30px;
      text-transform: uppercase;

      @include breakpoint('small') {
        padding-bottom: 42px;
        margin-bottom: 54px;
      }

      &:before {
        content: '';
        position: absolute;
        right: -130px;
        bottom: 0;
        left: -9999px;
        height: 2px;
        background: $primary-color;
      }
    }
  }

  &.walls {
    @include breakpoint('small') {
      padding-bottom: 53px;
    }
    
    .image__wrap {
      position: relative;
      z-index: 4;

      @include breakpoint('small') {
        padding-right: 21px;
      }
    }

    .textBox {
      padding-left: 0;
      max-width: 529px;
      float: right;
    }

    h2 {
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 30px;
      text-transform: uppercase;

      @include breakpoint('small') {
        padding-bottom: 42px;
        margin-bottom: 54px;
      }

      &:before {
        content: '';
        position: absolute;
        right: -9999px;
        bottom: 0;
        left: -400px;
        height: 2px;
        background: $primary-color;
      }
    }
  }

  &.ceilings {
    padding-bottom: 50px;

    @include breakpoint('small') {
      padding-bottom: 200px;
    }

    .row {
      justify-content: flex-end;
    }

    .image__wrap {
      position: relative;
      z-index: 4;
      
      @include breakpoint('small') {
        max-width: 607px;
        padding-left: 48px;
      }
    }

    .textBox {
      padding: 0;

      @include breakpoint('small') {
        max-width: 483px;
        margin-left: 155px;
      }
    }

    h2 {
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 30px;
      text-transform: uppercase;

      @include breakpoint('small') {
        padding-bottom: 42px;
        margin-bottom: 54px;
      }

      &:before {
        content: '';
        position: absolute;
        right: -500px;
        bottom: 0;
        left: -9999px;
        height: 2px;
        background: $primary-color;
      }
    }
  }

  h2,
  h3 {
    font-size: 26px;
    line-height: 1.25;
    margin: 0 0 25px;
    letter-spacing: 2px;

    @include breakpoint('small') {
      font-size: 40px;
      margin: 0 0 61px;
      line-height: 1.75;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
  }

  .btnWrap {
    padding: 0 0 30px;

    @include breakpoint('small') {
      padding: 23px 0 0;
    }
  }
}

#main {
  padding-top: 0;

  @include breakpoint('small') {
    padding-top: $header-height;
  }
}

.button-learn {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #312f30;
  border-radius: 0;
  min-width: 300px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.3125;
  font-weight: 700;
  color: $primary-color;
  padding: 18px 73px 18px 20px;
  position: relative;
  text-align: center;
  letter-spacing: 2px;

  .btnArrow {
    width: 55px;
    background: #312f30;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .icon {
    width: 15px;
    height: 15px;
  }

  &.white {
    border-color: #a2764f;
    color: #fff;

    .btnArrow {
      background: $primary-color;
      color: #312f30;
    }
  }
}

.footer {
  background: #312f30;
  color: #fff;
  font-size: 16px;
  padding: 40px 0 0;

  @include breakpoint('small') {
    padding: 140px 0 60px;
  }
  
  .container {
    max-width: 1688px;
  }

  .footer_logo {
    width: 200px;
    margin: 0 auto 50px;

    @include breakpoint('small') {
      width: 259px;
      margin: 0 0 105px;
    }
  }

  h4 {
    color: $primary-color;
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;

    @include breakpoint('small') {
      text-align: left;
      margin-bottom: 30px;
    }
  }

  a {
    color: #7f7f7f;

    &:hover {
      color: $primary-color;
    }
  }
}

.splitMenu {
  @include breakpoint('small') {
    column-count: 2;
  }
}

ul.footer_menu {
  text-align: center;
  padding-bottom: 50px;

  @include breakpoint('small') {
    text-align: left;
  }

  li {
    margin-bottom: 10px;
  }
}

.footer__top {
  padding-bottom: 10px;

  @include breakpoint('small') {
    padding-bottom: 80px;
  }
}

.socials {
  text-align: center;
  padding-bottom: 50px;

  @include breakpoint('small') {
    text-align: left;
  }

  .title {
    display: block;
    margin-bottom: 19px;
  }
}

.social-networks {
  li  {
    display: inline-block;
    vertical-align: middle;
    margin-right: 18px;
  }

  .text {
    display: none;
  }

  .icon {
    width: 23px;
    height: 23px;
  }
}

.footer__bottom {
  color: #7f7f7f;
  border-top: 2px solid $primary-color;
  padding: 30px 0;
  
  @include breakpoint('small') {
    padding-top: 59px;
    border-width: 1px;
  }

  a {
    color: #fff;
    text-decoration: underline;
    display: inline-block;

    &:hover {
      color: $primary-color;
    }
  }
}

.copyright {
  display: block;
  font-weight: normal;
  text-align: center;
  margin-bottom: 30px;

  @include breakpoint('small') {
    text-align: left;
    margin-bottom: 0;
  }
}

.websiteby {
  display: block;
  font-weight: normal;
  text-align: center;

  @include breakpoint('small') {
    text-align: right;
  }


  .icon {
    width: 15px;
    color: $primary-color;
    margin: 0 4px;
  }
}

.article {
  max-width: 498px;
  margin: 0 auto 30px;
  position: relative;

  .news_image {
    height: 357px;
    overflow: hidden;
    margin-bottom: 20px;

    @include breakpoint('small') {
      margin-bottom: 56px;
    }
  }

  .article__date {
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: $primary-color;
    margin-bottom: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;

    @include breakpoint('small') {
      margin: 0;
      position: absolute;
      left: -49px;
      top: 344px;
      transform: rotate(-90deg);
      transform-origin: 0 50%;
    }
  }

  h3 {
    font-size: 25px;
    margin-bottom: 20px;
    text-transform: capitalize;

    @include breakpoint('small') {
      font-size: 30px;
    }

    a {
      color: #121212;

      &:hover {
        color: $primary-color;
      }
    }
  }

  p {
    margin-bottom: 32px;
  }

  .read-more {
    font-weight: 700;
    color: #121212;
    text-decoration: underline;
    display: inline-block;

    &:hover {
      color: $primary-color;
    }

  }
}

.news__slider {
  @include breakpoint('small') {
    padding: 78px 70px 0 70px;
  }
}

.news__block {
  position: relative;
  padding: 30px 0;

  @include breakpoint('small') {
    padding: 142px 0 171px;
  }

  .container {
    position: relative;
  }

  &:before {
    @include breakpoint('small') {
      content: '';
      position: absolute;
      top: 480px;
      left: 0;
      right: 0;
      height: 2px;
      z-index: -1;
      background: $primary-color;
    }
  }

  .bottom-control {
    text-align: center;

    @include breakpoint('small') {
      position: absolute;
      top: 52.5%;
      right: -80px;
    }
  }

  .slick-arrow {
    margin: 0 7px;
  }

  .link {
    padding-top: 10px;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;

    @include breakpoint('small') {
      padding-top: 39px;
    }
  }

  h2 {
    text-align: center;
    text-transform: capitalize;

    @include breakpoint('small') {
      text-transform: uppercase;
      letter-spacing: 4px;
    }
  }
}

.project__block {
  background: #312f30;
  padding: 40px 0;
  overflow: hidden;
  
  @include breakpoint('small') {
    padding: 120px 0;
  }

  h2 {
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
    text-transform: capitalize;

    @include breakpoint('small') {
      letter-spacing: 4px;
      text-transform: uppercase;
    }
  }
}

.project__slider {
  position: relative;

  @include breakpoint('small') {
    padding-top: 36px;
  }

  &:before {
    @include breakpoint('small') {
      content: '';
      position: absolute;
      left: -9999px;
      right: -9999px;
      top: 466px;
      height: 2px;
      background: $primary-color;
    }
  }

  .control_wrapper {
    text-align: center;

    @include breakpoint('small') {
      position: absolute;
      left: -170px;
      bottom: 53px;
    }

    .icon {
      height: 30px;
      width: 30px;
    }

    .slick-arrow {
      border: none;
      color: #515151;
      margin-right: 18px;

      &:hover {
        color: $primary-color;
      }
    }
  }

  
}
  
.control_wrapper {
  .text {
    display: none;
  }
}

.project__box {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

.project_image {
  max-height: 681px;
  overflow: hidden;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 2;
    box-shadow: inset 0 -450px 150px -250px rgba(49, 47, 48, 0.5);
  }
}

.project_title {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
  padding-top: 15px;
  text-align: center;
  display: block;

  @include breakpoint('small') {
    padding-top: 0;
    font-size: 90px;
    text-align: left;
  }
}

.project_text {
  @include breakpoint('small') {
    position: absolute;
    bottom: 85px;
    left: -156px;
    right: 0;
    z-index: 3;
  }
}

.button_wrapper {
  text-align: center;
  padding: 25px 0;

  @include breakpoint('small') {
    padding: 61px 0 46px;
  }
}

.testimonial__block {
  padding: 40px 0;

  @include breakpoint('small') {
    padding: 140px 0 100px;
  }
}

.general__heading {
  position: relative;
  padding-bottom: 20px;

  @include breakpoint('small') {
    padding: 0 0 42px;
  }

  &:after {
    clear: both;
    content: '';
    display: block;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -9999px;
    right: -9999px;
    height: 2px;
    background: $primary-color;
  }

  h2 {
    letter-spacing: 2px;
    text-align: center;

    @media only screen and (max-width: 767px) {
      margin-bottom: 0;
    }

    @include breakpoint('small') {
      text-transform: uppercase;
      letter-spacing: 4px;
      float: left;
    }
  }

  .control_wrapper {
    float: right;
    margin: 10px 0 0;
    display: none;

    @include breakpoint('small') {
      display: block;
    }
    
    .slick-prev {
      margin-right: 16px;
    }
  }
}

.testimonial__slider {
  padding: 40px 0 0;

  @include breakpoint('small') {
    padding: 100px 0 0;
  }

  .slick-current + .slick-active {
    .quote {
      padding: 0 0 0 158px;

      &:before {
        left: 50px;
      }
    }
  }
}

.quote {
  padding: 0 0 0 34px;
  quotes: none;
  position: relative;

  @include breakpoint('small') {
    padding: 0 40px 0 104px;
  }

  &:before {
    content: '“';
    font-size: 30px;
    line-height: 1;
    color: $primary-color;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 700;

    @include breakpoint('small') {
      font-size: 80px;
    }
  }

  q {
    display: block;
    margin-bottom: 30px;

    @include breakpoint('small') {
      margin-bottom: 66px;
    }
  }

  cite {
    display: block;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
  }
}

.success__block {
  padding: 40px 0;

  @include breakpoint('small') {
    padding: 90px 0;
  }
}

.success__slider {
  .slide {
    overflow: hidden;
  }

  .control_wrapper {
    text-align: center;
    margin-top: 30px;

    @include breakpoint('small') {
      margin: 78px 0 0 105px;
      text-align: left;
    }
  }

  .slick-arrow {
    margin-right: 15px;
  }
}

.embedWrapper { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
}

.embedWrapper iframe, 
.embedWrapper object, 
.embedWrapper embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
}

.successText {
  @include breakpoint('small') {
    padding: 23px 0 0 15px;
  }

  h2 {
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;

    @include breakpoint('small') {
      margin: 0 0 68px 105px;
      padding: 0 0 53px;
      text-transform: uppercase;
      letter-spacing: 3px;
    }

    &:before {
      content: '';
      position: absolute;
      left: -300px;
      right: -9999px;
      bottom: 0;
      height: 2px;
      background: $primary-color;
    }
  }
}

.videoWrapper {
  position: relative;
  z-index: 4;
  margin-bottom: 30px;
  height: 563px;
  background: #efefef;

  @include breakpoint('small') {
    margin-right: -18px;
  }
}

.video__content {
  position: absolute;
  padding-bottom: 56.25%;
  height: 0;
  left: 0;
  right: 0;
  top: 14%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video--playing {
  .video__play {
    opacity: 0;
    visibility: hidden;
  }

  .bg__image {
    opacity: 0;
    visibility: hidden;
  }
}

.inner__banner {
  position: relative;
  color: #fff;

  h1,h2 {
    color: #fff;
  }

  h1 {
    font-size: 90px;
    margin: 0 0 9px;
    font-family: 'Maison Neue';
  }
}

.inner__bannerbox {
  height: 740px;
  padding: 161px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  .banner__small & {
    height: 538px;
    padding: 90px 0 155px;
  }

  .banner__smaller & {
    height: 428px;
    padding: 50px 0;
    align-items: center;
  }

  .banner__project & {
    height: 840px;
  }

  .box {
    width: 100%;
  }

  .button {
    margin-right: 30px;
    min-width: 228px;
  }

  .inner__bannerbuttons {
    padding-top: 31px;
  }

  .inner__bannertext {
    display: block;
    font-size: 25px;
    font-weight: 700;
  }
}

.banner__project {
  .inner__bannerbox {
    .inner__bannerbuttons {
      padding-top: 66px;
    }
  }
}

.subnav__holder {
  background: #fff;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 0 47px -75px;
  letter-spacing: 0.1em;

  li {
    display: inline-block;
    vertical-align: top;
  }

  a {
    font-weight: 700;
    display: block;
    color: #121212;
    padding: 40px 38px;
    transition: color 0.3s, background 0.3s;

    &:hover {
      background: $primary-color;
      color: #fff;
    }
  }
}

.aside__text {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: rotate(-90deg);
  font-size: 14px;
  text-transform: uppercase;
  color: $primary-color;
  letter-spacing: 0.1em;
  transform-origin: 0 0;
}

.history__text {
  position: relative;
  padding: 100px 0 37px;
  
  h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 50px;
  }

  .main_heading {
    text-align: center;
    margin-bottom: 76px;
  }
}

.historyYear {
  font-size: 30px;
  font-weight: 700;
  display: block;
  letter-spacing: 2px;
  overflow: hidden;
  margin: -8px 30px 0 0;

  span {
    display: inline-block;
    position: relative;
    padding-right: 60px;

    &:before {
      content: '';
      width: 999px;
      left: 100%;
      top: 50%;
      position: absolute;
      height: 2px;
      background: $primary-color;
      margin-top: -1px;
    }
  }
}

.history__contentbox {
  .row {
    margin-bottom: 165px;
  }

  .col-sm-7 {
    .historytext_box {
      padding: 6px 0 0 78px;
    }

    .historytext_image {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: 100%;
        top: 50%;
        height: 2px;
        margin-top: -1px;
        background: $primary-color;
        width: 999px;
      }
    }
  }
}

.history__intro {
  margin-bottom: 62px;
}

.history__image {
  margin-bottom: 127px;
}

.historytext_box {
  padding: 60px 60px 0 0;
}

.about__contentblock {
  background: #312f30;
  color: #7e7e7e;
  position: relative;
  padding: 196px 0;

  h2, h3, h4 {
    color: $primary-color;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.architect__block {
  position: relative;
}

.mission__block {
  padding-bottom: 100px;

  h2 {
    letter-spacing: 4px;
    position: relative;
    padding-bottom: 42px;
    margin-bottom: 58px;

    &:before {
      content: '';
      position: absolute;
      left: -9999px;
      right: 0;
      bottom: 0;
      height: 2px;
      background: $primary-color;
    }
  }
}

.mission__textbox {
  font-size: 23px;
  line-height: 1.9;
  background: #312f30;
  z-index: 4;
  position: relative;
  padding: 0 110px 63px 0;
}

.mission__image {
  margin: 17px 8px 0 -470px;
}

.vision__block {
  padding: 73px 0;
}

.vision__text {
  font-size: 23px;
  line-height: 1.9;
  padding: 98px 0 0 120px;

  h2 {
    letter-spacing: 4px;
    position: relative;
    padding-bottom: 42px;
    margin-bottom: 58px;

    &:before {
      content: '';
      position: absolute;
      left: -299px;
      right: 0;
      bottom: 0;
      height: 2px;
      background: $primary-color;
    }
  }
}

.values__block {
  padding: 94px 0 48px;

  h2 {
    padding-bottom: 46px;
    margin-bottom: 90px;
    text-align: center;
    border-bottom: 2px solid $primary-color;
  }

  .icon {
    width: 72px;
    height: 72px;
    color: $primary-color;
  }

  .icon_box {
    margin-bottom: 47px;
  }

  h4 {
    margin-bottom: 55px;
  }
}

.sustainability__block {
  position: relative;
  padding: 143px 0 92px;
  
  h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 68px;
  }
  
  .button {
    width: 100%;
  }
}

.sustainability__image {
  margin-bottom: 80px;
}

.sustainability__contentbox {
  >div {
    padding-bottom: 60px;
  }
}

.architect__block {
  padding: 100px 0 120px;
}

.architect__contentbox {
  max-width: 970px;
  margin: -386px auto 0;
  background: #efefef;
  padding: 95px 100px;
  position: relative;

  >div {
    padding-bottom: 47px;
  }

  h2 {
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 0 0 44px;
  }

  .button {
    width: 100%;
  }
}

.product__singlewrap {
  padding: 100px 0;
}

.product__wrapper {
  padding: 133px 0 72px;

  h2 {
    color: $primary-color;
    margin-bottom: 17px;

    span {
      color: #312f30;
    }
  }
}

.product__box {
  max-width: 389px;
  margin-bottom: 35px;

  .product__desc {
    >div {
      padding-bottom: 46px;
    }
  }

  .button {
    display: block;
  }
}

.product__box-image {
  position: relative;
  margin: 0 0 40px;
  
  .image__text {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: #ece3db;
    background: rgba($primary-color, 0.8);
    font-size: 16px;
    line-height: 1.56;
    padding: 39px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }

  &:hover {
    .image__text {
      opacity: 1;
      visibility: visible;
    }
  }
}


.expand__content {
  padding: 40px 0 159px;
  text-align: center;

  .addedBox {
    display: none;
  }

  .button {
    width: 100%;
  }

  .btn__wrap {
    padding-top: 40px;
  }
}

.product__overview {
  position: relative;

  h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      right: 0;
      height: 2px;
      left: -9999px;
      bottom: 0;
      background: $primary-color;
    }
  }
}

.product__description {
  background: #312f30;
  color: #7e7e7e;
  overflow: hidden;

  h2, h3 {
    color: $primary-color;
  }
}

.general-heading {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: -9999px;
    bottom: 0;
    height: 2px;
    background: $primary-color;
  }

  h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
  }

  .info {
    display: block;
    color: $primary-color;
    font-size: 22px;
  }
}

.pricing__block {
  background: #fff;
}

.nav__hamburger {
  position: absolute;
  right: 15px;
  top: 19px;
  height: 17px;
  width: 21px;
  text-indent: -9999px;
  overflow: hidden;
  
  @include breakpoint('small') {
    display: none;
  }

  span,
  &:before,
  &:after {
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background: $primary-color;
    top: 50%;
    margin-top: -1px;
    transition: all 0.3s;
  }

  &:before,
  &:after {
    content: '';
    margin: 0;
  }

  &:before {
    top: 0;
  }

  &:after {
    top: auto;
    bottom: 0;
  }
}

.contact__wrapper {
  padding: 130px 0;
}

form {
  padding: 11px 0 0 8px;

  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  
  [class^="col-"],
  [class*=" col-"] {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.form_group {
  margin-bottom: 25px;
}

.contact__form {
  .button {
    width: 100%;
  }
}

ul.info__list {
  padding-top: 37px;
  font-weight: 700;

  li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 37px;
  }

  .ico_wrap {
    width: 56px;
    height: 56px;
    border: 1px solid #312f30;
    color: #312f30;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .title {
    display: block;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: $primary-color;
  }
  
  .text {
    display: block;
    color: #312f30;
    font-size: 25px;
    line-height: 1;

    a {
      color: #312f30;
    }
  }
}

.map_heading {
  margin-top: 151px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 112%;
    width: 9999px;
    height: 2px;
    background: $primary-color;
  }
}

.quote__text {
  border-bottom: 2px solid $primary-color;
  padding-bottom: 39px;
  margin-bottom: 67px;
}

.quote__formwrap {
  max-width: 990px;
  margin: 0 auto;
}

.check__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px;

  li {
    padding: 0 6px;
    width: 33.33%;
  }
}

.custom_check {
  display: block;
  border: 1px solid #312f30;
  height: 54px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px 10px 5px 60px;
  cursor: pointer;

  input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;

    &:check {
      & + .custom-text {
        color: #fff;
        background-color: $primary-color;
        border-color: $primary-color;
      }
    }
  }

  .custom-text {
    display: block;
    white-space: nowrap;
  }

  .custom-box {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    border: 1px solid #312f30;
    border-radius: 2px;
    left: 28px;
  }
}

.single__wrapper {
  padding: 95px 0;
}

.post__heading {
  text-align: center;

  h1 {
    font-size: 90px;
    line-height: 1.055;
    max-width: 1170px;
    margin: 0 auto 27px;
    text-transform: capitalize;
  }
}

.post_category {
  text-transform: uppercase;
  color: $primary-color;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 36px;
}

.post__meta {
  display: block;
  margin-bottom: 53px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;

  .author {
    color: $primary-color;
  }
}

.share__block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 77px;

  .title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
    margin-right: 40px;
  }

  .social-networks {
    position: relative;
    padding: 19px 0 19px 40px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 72px;
      width: 1px;
      background-color: #c6c6c6;
    }

    li {
      margin-right: 35px;
    }

    a {
      color: #312f30;
    }
  }
}

.featured__image {
  max-width: 1209px;
  margin: 0 auto 102px;
  text-align: center;
}

.blog__wrapper {
  padding: 113px 0;

  h1 {
    font-size: 90px;
  }
}

.form__search {

}

.blog__heading {
  padding-bottom: 6px;
  border-bottom: 2px solid $primary-color;
  margin-bottom: 83px;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  h1 {
    float: left;
  }
}

.article__metas {
  float: right;
}

.form__search {
  display: flex;
  padding: 24px 0 0;
}

.search__wrap {
  display: flex;
  align-items: center;
  margin-right: 59px;

  &:last-child {
    margin-right: 0;
  }

  input[type="text"],
  select {
    color: $primary-color;
    font-size: 18px;
  }

  input[type="text"],
  input[type="search"] {
    width: 485px;
    height: 59px;
  }

  select {
    height: 59px;
    width: 329px;
  }

  .title {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 41px;
  }
}


.blog__content {
  .row {
    margin: 0 -85px;
  }

  [class^="col-"],
  [class*=" col-"] {
    padding: 0 85px;
  }
}

.blog_article {
  margin-bottom: 58px;

  .post_category {
    margin: 0;
  }

  .date {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  h3 {
    font-size: 30px;
    line-height: 1.1667;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .link {
    line-height: 1.2;
    color: #312f30;
    border-bottom: 2px solid #312f30;
    font-weight: 700;
    display: inline-block;
  }
}

.blog_image {
  height: 435px;
  overflow: hidden;

  a {
    display: block;
    height: 100%;
    position: relative;
  }

  div {
    width: 100%;
    height: 100%;
  }
}

.blog_meta {
  border-bottom: 2px solid $primary-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 39px 78px 34px 68px;
}

.blog_text {
  padding: 44px 67px;

  p {
    margin-bottom: 39px;
  }
}

.pagination {
  margin-top: 89px;
  border-top: 2px solid #312f30;
  padding: 60px 0 24px;
  text-align: center;

  .title,
  .pages {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
  }

  .title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
  }
}

.pages {
  li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px;
  }

  a {
    width: 45px;
    height: 45px;
    border: 1px solid #312f30;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    color: #312f30;

    &:hover {
      background: #312f30;
      color: $primary-color;
    }
  }

  .active {
    a {
      color: $primary-color;
      background: #312f30;
      pointer-events: none;
    }
  }
}

.project__detail {
  padding: 155px 0;
}

.project_content {
  padding-top: 11px;
}

.project_heading {
  position: relative;
  padding-bottom: 39px;

  &:before {
    content: '';
    position: absolute;
    right: 120px;
    bottom: 0;
    height: 2px;
    background: $primary-color;
    left: -9999px;
  }
}

.project_infos {
  padding: 53px 0;
}

.project__info {
  line-height: 1;
  padding-bottom: 70px;
  display: block;

  .title {
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: $primary-color;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 14px;
  }

  .info {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #312f30;
    letter-spacing: 1px;
  }
}

.video__play {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(#000, 0.4);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, visibility 0.3s;

  .text__wrap {
    cursor: pointer;

    &:hover {
      .text {
        border-bottom-color: transparent;
        letter-spacing: 3px;
      }
    }
  }

  .icon {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    pointer-events:  none;
  }

  .text {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    border-bottom: 2px solid $primary-color;
    transition: all 0.3s;
    pointer-events:  none;
  }
}